# Movie Seating Arrangement

>Problem Statement: To place **X** people in a movie theatre of **N*N** seating while maintaining social distancing guidelines i.e., people are seated at an alternate seat from each other for example, if a person has occupied a seat, then no other person can be seated on the next seat in left, right, up and down direction.

In [1]:
import string
import numpy as np
import pandas as pd
import collections

In [2]:
#This function returns the seating arrangement for N*N seater movie theater for X people as output in form of a dataframe
def seating_arrangement(n, x):
    
    '''This function returns the seating arrangement for N*N seater movie theater for X people as output
    in form of a dataframe'''
    
    #Display error message if negative numbers are entered
    if ((n <= 0) | (x <= 0)):
        print('Invalid input entered! Please input valid non-negative numbers and try again!')
    
    #Display error message if invalid input is entered such as number of people are more than the number of seats
    elif (((n % 2 == 0) & (x >= n**2//2)) | ((n % 2 != 0) & (x >= n**2//2+1))):
        print('Number of people are more than the number of seats! Please enter valid inputs and try again!')
    
    else:
        #Columns are defined by alphabets and rows are defined by numbers starting from 1 to n
        col = list(string.ascii_uppercase)[:n]
        row = list(range(n))
        
        #Total number of seats
        total_seats = n*n
        
        #Creating an empty 1D array of n*n elements with all elements as 'O'(Open for allocation)
        arr = np.array(['O']*(total_seats))
        
        #Getting alternate row numbers in case of odd number of rows as the seating arrangement is to be adjusted accordingly for odd and even rows
        alt_rows = [num for num in range(0, n) if num%2 != 0]
        
        #List of element indexes present in the alternate rows in 1D array 
        ele_list = [list(range(n*e, n*e+n)) for e in alt_rows]
        ele_list = [x for e in ele_list for x in e]
        
        #Setting a counter to 0 and marking the alternate seats(step size = 2) as 'X'(Reserved) till all the people are seated
        counter = 0
        for i in range(0, total_seats, 2):
            if counter < x:
                if (n%2 == 0) & (i in ele_list):
                    arr[i+1] = 'X'
                else:
                    arr[i] = 'X'
                counter += 1
        
        #Displaying the current occupancy of the theatre
        flat_list = [x for e in arr for x in e]
        c = collections.Counter(flat_list)
        curr_occupancy = round((c['X']/total_seats) * 100, 2)
        
        #Creating a dataframe to display the seating arrangement plan in a tabular manner
        arr1 = arr.reshape(n, n)
        df = pd.DataFrame(arr1, index = range(1, n+1), columns = col)
        
        #Displaying the input and output data
        print(f'''Number of seats in total: {total_seats}\nNumber of people seated are: {c['X']}\nOccupancy is: {curr_occupancy}%\nSeated Arrangement is as follows: ''')
        
        #Returning the seating arrangement dataframe as output
        return df

In [3]:
n = int(input('Enter the # of rows: '))
x = int(input('Enter the # of people: '))

Enter the # of rows: 6
Enter the # of people: 15

In [4]:
df = seating_arrangement(n, x)
df

Number of seats in total: 36
Number of people seated are: 15
Occupancy is: 41.67%
Seated Arrangement is as follows:

   A  B  C  D  E  F
1  X  O  X  O  X  O
2  O  X  O  X  O  X
3  X  O  X  O  X  O
4  O  X  O  X  O  X
5  X  O  X  O  X  O
6  O  O  O  O  O  O